# Python
*.pyc
__pycache__/

# Django
*.log
*.pot
*.pyc
__pycache__/
#staticfiles/
media/

# VS Code
.vscode/

# Entornos virtuales
.venv/
venv/

# Archivos de entorno
.env


# Otros
*.sqlite3
*.db

# MacOS
.DS_Store

# Node
node_modules/

verify_isolation/

# Archivos de recolección de estáticos (Railway los generará allá)
staticfiles/

# Logs de Gunicorn (el servidor que usará Railway)
gunicorn_access.log
gunicorn_error.log

# Archivos temporales de sistema
Thumbs.db
