# --- Librerías base ---
Django==5.1.5
gunicorn==23.0.0
python-dotenv==1.2.1
whitenoise==6.8.2
dj-database-url==2.3.0

# --- Base de Datos (Corregido para Railway) ---
# Eliminamos mysqlclient porque da error de compilación
mysql-connector-python==9.1.0
psycopg2-binary==2.9.10

# --- Utilidades y APIs ---
openpyxl==3.1.5
pillow==12.0.0
qrcode==8.2
reportlab==4.4.5
openai>=0.28,<0.29
google-genai

# --- Dependencias internas ---
asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
requests==2.32.3
sqlparse==0.5.3
typing_extensions==4.12.2
